:root{
  --m: 'montserrat';
  --r: 'raleway';
  --i: 'inter';
}
$m: var(--m);
$r: var(--r);
$i: var(--i);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: $r;
  font-weight: 400;
}
.container{
  @include container();
  min-height: 50px;
  border: 1px solid red;
}
body{
  background: #141414;
  color: #ffffff;
}
.btn-more{
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #149A03;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
}